@model List<AzureTablesModel.CustomerEntity>
@{
    /**/

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Table Storage</h1>
</div>
<div>
    @Html.ActionLink("List Customers", "Index", "Home") |
    @Html.ActionLink("Add Customer", "AddCustomer", "Home") |
    @Html.ActionLink("Emails", "Emails", "Home")

</div>
<br />
<br />
@using (Html.BeginForm("SearchCustomer", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        Search: <input id="name" name="name" type="text" class="form-control" />
        <span id="error" style="color:red;"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
}
<table class="table table-bordered table-striped">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Name</th>
        <th>Phone Number</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PartitionKey</td>
            <td>@item.RowKey</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
        </tr>
    }
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#name").focusout(function () {
                if ($(this).val() == "") {
                    $("#error").text('Search cannot be blank');
                    $("#name").focusin();
                }
                else {
                    $("#error").text('');
                }
            });
        });
    </script>
}